.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-calendar {
  background-color: black !important;
  width: 100% !important;
  height: 100%;
  border-radius: 30px;
}
.react-calendar__tile {
  background-image: url("https://velog.velcdn.com/images/h_jinny/post/855a7c1e-ed33-4d94-aacd-8e1d8c1e4d00/image.png") !important;
}

.react-calendar__viewContainer {
  height: 100%;
}

.react-calendar__month-view {
  height: 100%;
}

.react-calendar__month-view > div {
  height: 100%;
}
.react-calendar__month-view > div > div {
  height: 100%;
}
.react-calendar__month-view__days {
  background-color: white;
  color: black;
  height: 84%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.react-calendar__month-view__days button:last-child {
  border-bottom-right-radius: 30px;
}

.react-calendar__month-view__days button:nth-child(29) {
  border-bottom-left-radius: 30px;
}

.react-calendar__navigation {
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.react-calendar__month-view__days .react-calendar__tile {
  position: relative;
}
.react-calendar__month-view__days .react-calendar__tile abbr {
  position: absolute;
  top: 10%;
  right: 10%;
}
